<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg" fullscreen>
  <div class="mgt-25">
    <div text-center>
      <h2 class="text-title">
        Recuperar <br> Senha
      </h2>
    </div>
    <div text-center>
      <p>Nós precisamos do seu email registrado para enviar as instruções para resetar sua senha.</p>
    </div>
    <div class="form">
      <form>
        <div align-self-center justify-content-center>
          <ion-item>
            <ion-label class="fs-15 mgb-10" position="floating">Email</ion-label>
            <ion-input name="email" type="email" required>
              <ion-icon name="md-at" class="pdr-5" item-right></ion-icon>
            </ion-input>
          </ion-item>
        </div>
        <div class="pdt-25">
          <ion-button class="fs-17" type="submit" expand="block" fill="outline">
            Avançar</ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>