ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}

.text-title {
  font-family: "Poppins-Bold", sans-serif !important;
  font-size: 39px;
  line-height: 1.2;
  font-weight: bold;
  color: #333333;
}
