<div class="tabs">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="servicos">
        <ion-icon name="md-calendar"></ion-icon>
        <ion-label>Agendar</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="agenda">
        <ion-icon name="ios-list-box"></ion-icon>
        <ion-label>Minha Agenda</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="feed">
        <ion-icon name="md-paper"></ion-icon>
        <ion-label>Feed</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="opcoes">
        <ion-icon name="ios-more"></ion-icon>
        <ion-label>Opções</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div>