<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center>
      Marcar horario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <div class="pdl-25">
    <p class="fs-17">
      <b>Serviço:</b> <br>
      {{servicoEscolhido.name}}</p>
    <p class="fs-17">
      <b>Preço:</b> <br>
      R$ {{servicoEscolhido.price}}</p>
  </div>
  <h5 text-center><b>Escolha o seu horário</b></h5>
  <div class="scrolling-wrapper">
    <div *ngFor="let data of datasDisponiveis; let i = index;trackBy: tracked;" class="card">
      <ion-card>
        <ion-card-header [ngClass]="{'changeColor': data.active}" (click)="changeColor(i)">
          <ion-card-title text-center class="fs-17">
            {{ data.diaDaSemana }} <br>
            {{ data.data}}
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>

  <div padding>
    <ion-grid *ngIf="horariosDisponiveis.length > 0">
      <h5 text-center><b>Horário disponiveis</b></h5>
      <ion-row>
        <ion-col *ngFor="let horario of horariosDisponiveis" size="3">
          <ion-button (click)="confirmarAgendamento(horario)" expand="block" fill="outline">{{horario.hour}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div *ngIf="horariosDisponiveis.length == 0">
      <ion-img style="height: 100px;" [src]="notHave"></ion-img>
      <h5 text-center><b>Não há horário disponiveis</b></h5>
      <h5 text-center><b>para a data escolhida</b></h5>
    </div>
  </div>

  <!-- <div padding>
    <h6 text-left>Manhã</h6>
    <div>
      <p>Não há horários disponíveis nesse período.</p>
    </div>
  </div>

  <div padding>
    <h6 text-left>Tarde</h6>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let horario of horariosDisponiveis" size="3">
          <ion-button expand="block" fill="outline">{{horario.hour}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div padding>
    <h6 text-left>Noite</h6>
    <p>Não há horários disponíveis nesse período.</p>
  </div> -->

</ion-content>