<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center>
      Marcar horario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <h4 text-center>Escolha o seu horário</h4>
  <div class="scrolling-wrapper">
    <div *ngFor="let data of datas; let i = index;trackBy: tracked;" class="card">
      <ion-card>
        <ion-card-header [ngClass]="{'changeColor': data.active}" (click)="changeColor(i)">
          <ion-card-title text-center class="fs-17">
            {{ data.diaDaSemana }} <br>
            {{ data.data}}
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>

  <div padding>
    <h6 text-center>Horário disponiveis</h6>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let horario of horariosDisponiveis" size="3">
          <ion-button (click)="agendarHorario(horario)" expand="block" fill="outline">{{horario.hour}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- <div padding>
    <h6 text-left>Manhã</h6>
    <div>
      <p>Não há horários disponíveis nesse período.</p>
    </div>
  </div>

  <div padding>
    <h6 text-left>Tarde</h6>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let horario of horariosDisponiveis" size="3">
          <ion-button expand="block" fill="outline">{{horario.hour}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div padding>
    <h6 text-left>Noite</h6>
    <p>Não há horários disponíveis nesse período.</p>
  </div> -->

</ion-content>