<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg" fullscreen>
  <div class="mgt-25">
    <div text-center>
      <h2 class="text-title">
        Cadastrar-se
      </h2>
      <p>Crie uma nova conta.</p>
    </div>
    <div class="form">
      <form (submit)="cadastro()">
        <div align-self-center justify-content-center>
          <ion-item>
            <ion-label class="fs-15 mgb-10" position="floating">Nome Completo</ion-label>
            <ion-input name="nome" [(ngModel)]="usuario.name" type="text" required>
              <ion-icon name="md-person" class="pdr-5" item-right></ion-icon>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="fs-15 mgb-10" position="floating">Telefone</ion-label>
            <ion-input name="email" [(ngModel)]="usuario.phone" type="text" required>
              <ion-icon name="md-phone-portrait" class="pdr-5" item-right></ion-icon>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="fs-15 mgb-10" position="floating">Email</ion-label>
            <ion-input name="email" [(ngModel)]="usuario.email" type="email" required>
              <ion-icon name="md-at" class="pdr-5" item-right></ion-icon>
            </ion-input>
          </ion-item>
          <ion-item class="mgt-5">
            <ion-label class="fs-15 mgb-10" position="floating">Senha</ion-label>
            <ion-input name="password" [(ngModel)]="usuario.password" type="password" required>
              <ion-icon name="ios-lock" class="pdr-5" item-right></ion-icon>
            </ion-input>
          </ion-item>
        </div>
        <div>
          <ion-button class="fs-17" type="submit" expand="block" fill="outline">Cadastrar</ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>

<ion-footer class="bg">
  <ion-toolbar transparent>
    <ion-text routerLink="/login" routerDirection="forward" text-bold text-center>
      <p>Já possui login? Entrar</p>
    </ion-text>
  </ion-toolbar>
</ion-footer>