<ion-header>
    <ion-toolbar>
        <ion-title text-center>
            Publicações
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg">
    <ion-card padding-bottom class="card mgt-20">
        <img src="http://ionicframework.com/dist/preview-app/www/assets/img/advance-card-bttf.png">
        <p no-margin no-padding>
            <ion-button slot="icon-only" clear icon-only>
                <ion-icon slot="icon-only" no-padding name="heart" class="icon-space">
                </ion-icon>251 likes
            </ion-button>
        </p>
        <ion-card-content>
            <p>
                <b>Sobrancelha</b> <br>
                Processo feito com Uhhh... Lalalala
                Se gostou curte a publicação, por favor</p>
            <ion-note style="font-size: 12px">
                11h ago
            </ion-note>
        </ion-card-content>
    </ion-card>
</ion-content>