<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Sobre nós
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <div>
    <ion-row class="mgt-30">
      <ion-img text-center [src]="imgLogo"></ion-img>
    </ion-row>
  </div>
  <div class="mgt-40">
    <p text-center>
      Somos asdasdasdghasdgasdasdasd,<br> dasdasdasdasdasdasd<br> e asdasdasdasdasdasdasd
    </p>
  </div>
  <div class="mgt-30">
    <p text-center>
      Copyright 2019<br><br>
      Versão 1.0.0
    </p>
  </div>
</ion-content>

<ion-footer class="bg" no-border transparent translucent>
  <p text-center class="fs-15">Política de privacidade</p>
</ion-footer>