ion-card {
  background: white;
}

.centralizar {
  position: absolute;
  width: 90%;
  height: 65%;
  top: 30%;
  left: 5%;
}

.opacidadeModal {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
